<div class="form-body">
  <div class="form-holder">
    <div class="form-content">
      <div class="form-items">
          <label>Lastname : </label> <input type="text" placeholder="Lastname" [(ngModel)]="ngLastname"/> <br>
          <label>Firstname : </label> <input type="text" placeholder="Firstname" [(ngModel)]="ngFirstname"/> <br>
          <label>Zip code : </label> <input type="number" placeholder="Zip code" [(ngModel)]="ngZipCode"> <br>
          <label>Tel : </label> <input type="tel" placeholder="Telephone" [(ngModel)]="ngTel"/> <br>
          <label>Email : </label> <input type="email" placeholder="Email" [(ngModel)]="ngEmail"/> <br>
          <label>Gender : </label>
          <div>
            <input type="radio" name="gender" value="male" checked> <label> Male</label>
            <input type="radio" name="gender" value="female" > <label> Female</label>
          </div>

          <div>
            <label>Login : </label> <input type="text" placeholder="Login" [(ngModel)]="ngLogin"/> <br>
            <label>Password : </label> <input type="password" id="password" placeholder="Password" [(ngModel)]="ngPassword"/> <br>
            <label>Verification Password : </label> <input type="password" id="verifPassword"
              placeholder="Verification Password" [(ngModel)]="ngPasswordCheck" /> <br>
          </div>

          
          <p>test : {{ngLastname}}</p>
        <app-component-summary [lastname]="ngLastname" (change)="clicChange($event)">
          
        </app-component-summary>
      </div>
    </div>
  </div>
</div>
